/* ID Titulo
#titulo {
  color: blue;
}

p.texto {
  color: slateblue;
}
/*pc con clase especial
*/
p.especial {
  color: mediumseagreen;
}
div p {
  color: orangered;
}

div h2 {
  color: seagreen;
}
/**Elvementos h2 dentro de div y h3 dentro de div */
div h2,
div h3 {
  color: magenta;
}
/*Selector universal*/
* {
  font-size: 20px;
  /* este no aplica por que el color ya fue definido antes
  color: black;*/
}
/*Selector de clase color
.color {
  color: rgb(167, 167, 167);
}
 */
.color {
  border-style: solid;
  border-color: blue;
  border-radius: 5px;
  border-width: 1em;
}
#fondo {
  background-color: cornflowerblue;
  background-image: url(https://th.bing.com/th/id/R.8e61e39bd5cc78ac85fed32f8cd0bbf8?rik=uy4OmjCsjzjDgw&pid=ImgRaw&r=0);
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  /* Se puede ponerlo en 1 sola linea */
}
.margen {
  background-color: darkgreen;
  margin: 15px;
  padding: 30px 15px 5px;
  border: solid 1px black;
  height: 50px;
  width: 250px;
  overflow: auto;
  outline: 1px solid red;
}
.text {
  text-align: right;
  color: darkorange;
  text-decoration: teal underline;
  text-shadow: 3px 5px 5px blue;
  font-size: larger;
  font-family: "verdana", Courier, monospace;
}
/*Links*/
a:link {
  color: blueviolet;
}
a:visited {
  color: gray;
}
a:hover {
  color: orangered;
}
a:active {
  color: mediumspringgreen;
}

/*Listas*/

ul {
  background-color: steelblue;
  list-style-type: square;
  padding-left: 10;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: solid 1px blue;
}

th {
  color: white;
  background-color: midnightblue;
  cursor: pointer;
}
tr:nth-child(eve) {
  background-color: #eee;
}

tr:hover {
  background-color: orange;
  cursor: pointer;
}

/*Display en linea */
span {
  display: block;
  width: 100%;
  background-color: red;
  /* visibility: hidden; */
}
.inline {    
  display: inline;
}

#position {
  position: sticky;
  left: 20px;
  top: 20px;
}
/* Posicionamiento */

.Izquierda {
  float: left;
  width: 100px;
}
.Derecha {
  float: right;
}
.Contenedor {
  height: 200px;
}
.inbloque {
  display: inline-block;
  height: 55px;
  background-color: cadetblue;
}
.centrado{
  background-color: aquamarine;
  text-align: center;
  padding-left: 0%;
  margin: 0 auto;
  width: 300px;
} */